.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.322266;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.861328;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.860352;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.083496;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.313477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.706543;font-style:normal;font-weight:normal;visibility:visible;}
.m2{transform:matrix(0.237173,0.000000,-0.079050,0.237173,0,0);-ms-transform:matrix(0.237173,0.000000,-0.079050,0.237173,0,0);-webkit-transform:matrix(0.237173,0.000000,-0.079050,0.237173,0,0);}
.m3{transform:matrix(0.249201,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249201,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249201,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls1{letter-spacing:-0.266800px;}
.ls4{letter-spacing:-0.225600px;}
.ls5{letter-spacing:-0.192000px;}
.ls0{letter-spacing:0.000000px;}
.ls6{letter-spacing:0.024000px;}
.ls2{letter-spacing:0.032440px;}
.ls3{letter-spacing:0.130000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{margin-left:-5.914080px;}
._5{margin-left:-4.663040px;}
._1{margin-left:-2.572320px;}
._0{margin-left:-1.537920px;}
._2{width:1.314240px;}
._4{width:2.316800px;}
.fc4{color:rgb(51,102,255);}
.fc0{color:rgb(0,0,0);}
.fc1{color:rgb(0,0,255);}
.fc2{color:rgb(255,0,0);}
.fc3{color:rgb(127,127,127);}
.fs8{font-size:48.000000px;}
.fs10{font-size:66.529141px;}
.fs6{font-size:72.000000px;}
.fs7{font-size:72.096000px;}
.fsf{font-size:75.893905px;}
.fs9{font-size:80.160000px;}
.fsa{font-size:96.000000px;}
.fsc{font-size:96.096000px;}
.fs1{font-size:111.840000px;}
.fsd{font-size:111.936000px;}
.fs0{font-size:128.160000px;}
.fsb{font-size:128.256000px;}
.fs4{font-size:144.000000px;}
.fs3{font-size:159.840000px;}
.fs5{font-size:159.936000px;}
.fs2{font-size:176.160000px;}
.fse{font-size:264.000000px;}
.y0{bottom:0.000000px;}
.y44{bottom:3.073052px;}
.y41{bottom:12.240000px;}
.ye{bottom:12.336000px;}
.y17{bottom:17.424000px;}
.y43{bottom:19.704237px;}
.y9{bottom:21.648000px;}
.y37{bottom:21.816000px;}
.y2{bottom:22.752000px;}
.y40{bottom:33.720000px;}
.y16{bottom:39.024000px;}
.y36{bottom:50.616000px;}
.y3f{bottom:55.320000px;}
.y1{bottom:61.152000px;}
.y26{bottom:62.856000px;}
.y42{bottom:63.589000px;}
.y8{bottom:64.848000px;}
.y35{bottom:79.416000px;}
.y25{bottom:84.456000px;}
.y1f{bottom:87.096000px;}
.y24{bottom:106.060000px;}
.y1e{bottom:108.700000px;}
.y3c{bottom:111.820000px;}
.y34{bottom:123.620000px;}
.y32{bottom:125.280000px;}
.y23{bottom:128.140000px;}
.y1d{bottom:130.300000px;}
.y4{bottom:144.890000px;}
.y3b{bottom:145.420000px;}
.y21{bottom:150.670000px;}
.y1c{bottom:151.900000px;}
.y22{bottom:152.160000px;}
.y33{bottom:162.020000px;}
.yb{bottom:169.510000px;}
.y1b{bottom:173.500000px;}
.y3a{bottom:179.040000px;}
.y3{bottom:179.210000px;}
.y20{bottom:179.470000px;}
.y1a{bottom:195.120000px;}
.y15{bottom:210.980000px;}
.y27{bottom:217.100000px;}
.y19{bottom:217.200000px;}
.ya{bottom:217.510000px;}
.y14{bottom:232.580000px;}
.y18{bottom:241.200000px;}
.y31{bottom:258.430000px;}
.y39{bottom:262.990000px;}
.y2b{bottom:263.590000px;}
.y30{bottom:280.030000px;}
.y29{bottom:292.390000px;}
.y13{bottom:295.420000px;}
.y38{bottom:301.390000px;}
.y2f{bottom:301.630000px;}
.y12{bottom:311.500000px;}
.y2a{bottom:321.190000px;}
.y2e{bottom:324.790000px;}
.y11{bottom:333.100000px;}
.y10{bottom:354.700000px;}
.yd{bottom:373.750000px;}
.yf{bottom:376.320000px;}
.y2d{bottom:383.590000px;}
.y3d{bottom:389.570000px;}
.y7{bottom:401.980000px;}
.yc{bottom:421.780000px;}
.y2c{bottom:421.990000px;}
.y28{bottom:426.140000px;}
.y6{bottom:442.540000px;}
.y3e{bottom:488.500000px;}
.y5{bottom:497.350000px;}
.hd{height:34.453125px;}
.h1c{height:46.485938px;}
.ha{height:49.218750px;}
.hb{height:49.284375px;}
.hc{height:51.679688px;}
.h10{height:51.748594px;}
.he{height:54.796875px;}
.hf{height:57.536719px;}
.h18{height:57.585938px;}
.h19{height:60.700301px;}
.h1b{height:66.983930px;}
.h11{height:68.906250px;}
.h13{height:68.975156px;}
.h14{height:76.398516px;}
.h3{height:80.275781px;}
.h15{height:80.344687px;}
.h1{height:91.989844px;}
.h12{height:92.058750px;}
.h6{height:98.437500px;}
.h7{height:103.359375px;}
.h9{height:109.031484px;}
.h16{height:109.265625px;}
.h5{height:114.728906px;}
.h8{height:114.797812px;}
.h4{height:126.442969px;}
.h2{height:127.847109px;}
.h1a{height:160.407316px;}
.h17{height:189.492188px;}
.h0{height:540.000000px;}
.w1{width:592.308866px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x4{left:7.200000px;}
.x3{left:11.880000px;}
.x2c{left:21.605000px;}
.x20{left:29.808000px;}
.x9{left:35.856000px;}
.x29{left:40.536000px;}
.x27{left:46.512000px;}
.x5{left:67.992000px;}
.x6{left:87.888000px;}
.x1c{left:99.840000px;}
.x7{left:163.970000px;}
.x12{left:255.530000px;}
.xe{left:260.450000px;}
.x13{left:268.370000px;}
.x11{left:271.370000px;}
.x14{left:273.410000px;}
.xf{left:277.370000px;}
.x10{left:281.810000px;}
.x26{left:304.460000px;}
.x8{left:329.300000px;}
.x1f{left:332.980000px;}
.x1e{left:338.260000px;}
.x28{left:340.850000px;}
.x25{left:354.100000px;}
.x1d{left:362.640000px;}
.x16{left:371.380000px;}
.x15{left:384.240000px;}
.x2a{left:409.010000px;}
.x2b{left:414.290000px;}
.x2{left:449.690000px;}
.x21{left:522.380000px;}
.x23{left:532.940000px;}
.x22{left:537.980000px;}
.x19{left:547.800000px;}
.xc{left:553.680000px;}
.x24{left:555.620000px;}
.x1{left:557.110000px;}
.x18{left:558.240000px;}
.xb{left:561.000000px;}
.x17{left:563.660000px;}
.xa{left:567.120000px;}
.x1a{left:571.920000px;}
.x1b{left:574.130000px;}
.x2d{left:593.460764px;}
.xd{left:598.560000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls1{letter-spacing:-0.355733pt;}
.ls4{letter-spacing:-0.300800pt;}
.ls5{letter-spacing:-0.256000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls6{letter-spacing:0.032000pt;}
.ls2{letter-spacing:0.043253pt;}
.ls3{letter-spacing:0.173333pt;}
.ws0{word-spacing:0.000000pt;}
._3{margin-left:-7.885440pt;}
._5{margin-left:-6.217387pt;}
._1{margin-left:-3.429760pt;}
._0{margin-left:-2.050560pt;}
._2{width:1.752320pt;}
._4{width:3.089067pt;}
.fs8{font-size:64.000000pt;}
.fs10{font-size:88.705521pt;}
.fs6{font-size:96.000000pt;}
.fs7{font-size:96.128000pt;}
.fsf{font-size:101.191873pt;}
.fs9{font-size:106.880000pt;}
.fsa{font-size:128.000000pt;}
.fsc{font-size:128.128000pt;}
.fs1{font-size:149.120000pt;}
.fsd{font-size:149.248000pt;}
.fs0{font-size:170.880000pt;}
.fsb{font-size:171.008000pt;}
.fs4{font-size:192.000000pt;}
.fs3{font-size:213.120000pt;}
.fs5{font-size:213.248000pt;}
.fs2{font-size:234.880000pt;}
.fse{font-size:352.000000pt;}
.y0{bottom:0.000000pt;}
.y44{bottom:4.097403pt;}
.y41{bottom:16.320000pt;}
.ye{bottom:16.448000pt;}
.y17{bottom:23.232000pt;}
.y43{bottom:26.272315pt;}
.y9{bottom:28.864000pt;}
.y37{bottom:29.088000pt;}
.y2{bottom:30.336000pt;}
.y40{bottom:44.960000pt;}
.y16{bottom:52.032000pt;}
.y36{bottom:67.488000pt;}
.y3f{bottom:73.760000pt;}
.y1{bottom:81.536000pt;}
.y26{bottom:83.808000pt;}
.y42{bottom:84.785333pt;}
.y8{bottom:86.464000pt;}
.y35{bottom:105.888000pt;}
.y25{bottom:112.608000pt;}
.y1f{bottom:116.128000pt;}
.y24{bottom:141.413333pt;}
.y1e{bottom:144.933333pt;}
.y3c{bottom:149.093333pt;}
.y34{bottom:164.826667pt;}
.y32{bottom:167.040000pt;}
.y23{bottom:170.853333pt;}
.y1d{bottom:173.733333pt;}
.y4{bottom:193.186667pt;}
.y3b{bottom:193.893333pt;}
.y21{bottom:200.893333pt;}
.y1c{bottom:202.533333pt;}
.y22{bottom:202.880000pt;}
.y33{bottom:216.026667pt;}
.yb{bottom:226.013333pt;}
.y1b{bottom:231.333333pt;}
.y3a{bottom:238.720000pt;}
.y3{bottom:238.946667pt;}
.y20{bottom:239.293333pt;}
.y1a{bottom:260.160000pt;}
.y15{bottom:281.306667pt;}
.y27{bottom:289.466667pt;}
.y19{bottom:289.600000pt;}
.ya{bottom:290.013333pt;}
.y14{bottom:310.106667pt;}
.y18{bottom:321.600000pt;}
.y31{bottom:344.573333pt;}
.y39{bottom:350.653333pt;}
.y2b{bottom:351.453333pt;}
.y30{bottom:373.373333pt;}
.y29{bottom:389.853333pt;}
.y13{bottom:393.893333pt;}
.y38{bottom:401.853333pt;}
.y2f{bottom:402.173333pt;}
.y12{bottom:415.333333pt;}
.y2a{bottom:428.253333pt;}
.y2e{bottom:433.053333pt;}
.y11{bottom:444.133333pt;}
.y10{bottom:472.933333pt;}
.yd{bottom:498.333333pt;}
.yf{bottom:501.760000pt;}
.y2d{bottom:511.453333pt;}
.y3d{bottom:519.426667pt;}
.y7{bottom:535.973333pt;}
.yc{bottom:562.373333pt;}
.y2c{bottom:562.653333pt;}
.y28{bottom:568.186667pt;}
.y6{bottom:590.053333pt;}
.y3e{bottom:651.333333pt;}
.y5{bottom:663.133333pt;}
.hd{height:45.937500pt;}
.h1c{height:61.981250pt;}
.ha{height:65.625000pt;}
.hb{height:65.712500pt;}
.hc{height:68.906250pt;}
.h10{height:68.998125pt;}
.he{height:73.062500pt;}
.hf{height:76.715625pt;}
.h18{height:76.781250pt;}
.h19{height:80.933735pt;}
.h1b{height:89.311906pt;}
.h11{height:91.875000pt;}
.h13{height:91.966875pt;}
.h14{height:101.864687pt;}
.h3{height:107.034375pt;}
.h15{height:107.126250pt;}
.h1{height:122.653125pt;}
.h12{height:122.745000pt;}
.h6{height:131.250000pt;}
.h7{height:137.812500pt;}
.h9{height:145.375313pt;}
.h16{height:145.687500pt;}
.h5{height:152.971875pt;}
.h8{height:153.063750pt;}
.h4{height:168.590625pt;}
.h2{height:170.462812pt;}
.h1a{height:213.876422pt;}
.h17{height:252.656250pt;}
.h0{height:720.000000pt;}
.w1{width:789.745154pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x4{left:9.600000pt;}
.x3{left:15.840000pt;}
.x2c{left:28.806667pt;}
.x20{left:39.744000pt;}
.x9{left:47.808000pt;}
.x29{left:54.048000pt;}
.x27{left:62.016000pt;}
.x5{left:90.656000pt;}
.x6{left:117.184000pt;}
.x1c{left:133.120000pt;}
.x7{left:218.626667pt;}
.x12{left:340.706667pt;}
.xe{left:347.266667pt;}
.x13{left:357.826667pt;}
.x11{left:361.826667pt;}
.x14{left:364.546667pt;}
.xf{left:369.826667pt;}
.x10{left:375.746667pt;}
.x26{left:405.946667pt;}
.x8{left:439.066667pt;}
.x1f{left:443.973333pt;}
.x1e{left:451.013333pt;}
.x28{left:454.466667pt;}
.x25{left:472.133333pt;}
.x1d{left:483.520000pt;}
.x16{left:495.173333pt;}
.x15{left:512.320000pt;}
.x2a{left:545.346667pt;}
.x2b{left:552.386667pt;}
.x2{left:599.586667pt;}
.x21{left:696.506667pt;}
.x23{left:710.586667pt;}
.x22{left:717.306667pt;}
.x19{left:730.400000pt;}
.xc{left:738.240000pt;}
.x24{left:740.826667pt;}
.x1{left:742.813333pt;}
.x18{left:744.320000pt;}
.xb{left:748.000000pt;}
.x17{left:751.546667pt;}
.xa{left:756.160000pt;}
.x1a{left:762.560000pt;}
.x1b{left:765.506667pt;}
.x2d{left:791.281019pt;}
.xd{left:798.080000pt;}
}
